beautifulsoup4>=4.11.1
opencv-python>=4.7.0.72
pandas>=2.0.2
tqdm>=4.65.0
traceback2>=1.4.0
aiofiles>=22.1.0
aiohttp>=3.8.3
aiosignal>=1.3.1
numba>=0.57.0
numpy>=1.24.3
MarkupSafe>=2.1.2
psycopg2-binary>=2.9.5
pytest>=7.2.1
xmltodict>=0.13.0
SQLAlchemy>=2.0.7
reprint
videohash
ImageHash
lz4
crc32c
confluent-kafka
